<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gov.jussantiago.jmulki.autoconsulta">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/iconfinder_law"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/iconfinder_law"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/balanza1" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming notification message. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/fondo_autoconsulta" />

        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.ExpedientesActivity" />
        <activity android:name=".activities.MovimientosActivity" />
        <activity android:name=".activities.DocumentoActivity" />
        <activity android:name=".activities.NotificacionesActivity" />
        <activity android:name=".activities.CedulaActivity" />
        <activity android:name=".activities.MenuActivity" />
        <activity android:name=".activities.DatosActivity" />

        <service
            android:name=".services.MyFirebaseInstanceIDService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".services.MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".activities.CedulaCivilActivity" />
        <activity android:name=".activities.ContactoActivity" />
        <activity android:name=".activities.NotificacionesCivilActivity"></activity>
    </application>

</manifest>